<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.juhan.web.user.repository.IUserMapper">

	<resultMap id="userMap" type="com.juhan.web.user.model.UserVO">
		<id property="userNo" column="user_no"/>
		<result property="userId" column="user_id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="regDate" column="reg_date" />
	</resultMap>
	
	<insert id="register">
		INSERT INTO user_tb(user_no, user_id, password, name)
		VALUES(userno_seq.NEXTVAL, #{userId},#{password},#{name})
	</insert>

	<select id="selectOne" resultMap="userMap">
		SELECT * FROM user_tb
		WHERE user_id = #{userId}
	</select>
	
	<delete id="deleteUser">
		DELETE FROM user_tb WHERE user_id = #{userId}
	</delete>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM user_tb WHERE user_id=#{userId}	
	</select>

	<select id="getUsers" resultMap="userMap">
		SELECT * FROM user_tb
	</select>
	
	<update id="setAutoLogin">
		UPDATE user_tb SET session_id=#{sessionId}, limit_date=#{limitDate} WHERE user_id=#{userId}
	</update>

</mapper>















